body {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

@media (min-width: 576px) {
  #details {
		font-size: 1rem;
	}
}

.banner {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 0;
	padding-bottom: 0
}

#camp.banner {
  background-image: url("../img/banner-v2.png");
	height: 100vh;
	position: relative;
}

@media (min-width: 576px) {
  #camp.banner {
    background-image: url("../img/camptitleweb.png");
		height: 100vh;
  }
}

#living.banner {
	background-image: url("../img/living.jpg");
	height: 100vh;
	max-height: 360px;
}

@media (min-width: 576px) {
	#living.banner {
		max-height: 480px;
	}
}

#faqs > ul > li {
	padding-top: 1rem;
}


.arrow-down {
	position: absolute;
	bottom: 0;
	margin-bottom: 5%;
	width: 30px;
	margin-left: -15px;
}

a.question {
	font-weight: 700
}

#hsregform {
	background-color: #DEECE2;
	/* height: 100vh; */
}

input.form-control:disabled {
	color: #000000;
	background-color: #ffffff;
}
