body {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

.jumbotron {
	background-color: #DEECE2;
	min-height: 100vh !important;
}

.header-bottom {
	position: absolute;
	bottom: 0;
	color: "#DFE1D4"
}
